.blue-background{
  background-color: #0052A5;
  color: white;
}
.fill {
    height: 100%;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.external-padding{
  margin-bottom: 2%
}
.top-offset{
  padding-top: 5%;
}
.small{
  color: white;
}
.cust-btn{
  z-index: 50;
  height: 60px;
  width: 150px;

  background-color: #0052A5;
  color: white;

  border-width: 3px;
  border-radius: 2px;
  border-color: white;
  border-style: solid;

  font-family: Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;

  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
}

.cust-btn:hover{
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  background-color: white;
  color: #0052A5;
}

label{
  display: inline-block;
  vertical-align: middle;
}

header{
  padding-bottom: 5%;
}
